{% extends 'main/base.html' %}

{% block content %}
<div class="content-a">
    <div class="expenses-container">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h2 class="expenses-title">Πληρωμές</h2>
            <a href="{% url 'add_payment' %}" class="btn btn-primary">Προσθήκη Πληρωμής</a>
        </div>

        <div class="expenses-table-container">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Ποσό</th>
                        <th>Ημερομηνία</th>
                        <th>Προμηθευτής</th>
                        <th>Χρήστης</th>
                    </tr>
                </thead>
                <tbody>
                    {% for payment in payments %}
                    <tr>
                        <td>{{ payment.payment_id }}</td>
                        <td>{{ payment.amount }} €</td>
                        <td>{{ payment.created_at }}</td>
                        <td>{{ payment.supplier.name }}</td>
                        <td>{{ payment.user.username }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="{% if user.is_superuser %}8{% else %}6{% endif %}">Δεν βρέθηκαν Πληρωμές.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<style>
    .content-a {
        max-height: calc(100vh - 100px); /* Adjust 100px based on your header/footer height */
        overflow-y: auto;
        padding: 20px;
        border: 1px solid #ddd; /* Added border for visual separation */
    }
    .expenses-container {
        min-width: 800px; /* Ensures table doesn't get too narrow on small screens */
    }
    .expenses-table-container {
        overflow-x: auto;
    }
    .expenses-title {
        background-color: transparent;
        padding: 10px 0;
        margin-bottom: 0; /* Removed bottom margin */
        z-index: 1;
    }
    table thead {
        position: sticky;
        top: 0; /* Adjusted to stick to the top of the table container */
        background-color: grey;
        z-index: 1;
    }
    @media (max-width: 768px) {
        .content-a {
            padding: 10px;
        }
    }
</style>

{% endblock %}