.chart-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}


.kpi-card {
    padding: 3px; /* Reduce padding */
    margin: 3px; /* Reduce margin */
    border-radius: 10px; /* Reduce border radius */
    min-width: 150px; /* Reduce minimum width */
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 10px; /* Adjust font size */
}

.default-card{
    background-color: #ffffff; /* Green */
    color: #000; /* Black or any suitable text color */
}
.income-card {
    background-color: #7CFC00; /* Green */
    color: #000; /* Black or any suitable text color */
}

.expenses-card {
    background-color: #FF6347; /* Red */
    color: #000; /* White or any suitable text color */
}

.kpi-card h3 {
    font-weight: bold; /* Make heading (h3) text bold */
    margin-bottom: 10px; /* Add some spacing below heading */
}

.kpi-card h4 {
    font-weight: bold; /* Make paragraph (p) text bold */
}



/* .start-from-left {
    margin-left: 0 !important;
    padding-left: 0 !important;
} */

.big-line {
    border: 3px solid #2a1010; /* Border style for the line */
    margin: 5px 0; /* Margin above and below the line */
}


.big-line {
    border: 1px solid #ccc; /* Border style for the big line */
    margin: 20px 0; /* Margin above and below the big line */
}

.container {
    width: 100%; /* Ensure container takes full width */
    margin-right: auto; /* Center content horizontally */
    margin-left: auto; /* Center content horizontally */
    padding-right: 15px; /* Bootstrap padding adjustment */
    padding-left: 15px; /* Bootstrap padding adjustment */
}

.chart-container {
    width: 100%; /* Ensure chart container takes full width */
}

.col-md-6,
.col-sm-12 {
    padding: 0 15px; /* Add padding to columns for spacing */
}
