
body {
  width: 100%;     
  /* min-height: 100vh; */
  margin: 0;        
  padding: 0;       
  background: linear-gradient(to right, #f9e0d9, #efe9e6);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

footer {
  background-color: inherit;
}

.navbar-brand img {
  width: 100px;
  height: auto;
}