{% extends 'main/base.html' %}
{% load static %}


{% block content %}
<div class="dashboard-buttons">
    {% comment %} <a href="{% url 'manage_orders' %}" class="dashboard-btn"><i class="fas fa fa-clipboard"></i> Παραγγελίες </a> {% endcomment %}
    <a href="{% url 'add_product' %}" class="dashboard-btn"><i class="fas fa-users"></i>Προσθήκη Προϊόντων</a>
    {% comment %} <a href="#" class="dashboard-btn"><i class="fas fa-cog"></i>Settings</a>
    <a href="#" class="dashboard-btn"><i class="fas fa-file-invoice-dollar"></i>Expenses</a> {% endcomment %}
  </div>
{% endblock %}