{% extends 'main/base.html' %}
{% load static %}


{% block content %}
<div class="dashboard-buttons">
    <a href="{% url 'sign_up' %}" class="dashboard-btn"><i class="fa-solid fa-user-check"></i> Προσθήκη Χρήστη </a>
    <a href="{% url 'add_product' %}" class="dashboard-btn"><i class="fa-solid fa-bread-slice"></i>Προσθήκη Προϊόντων</a>
    <a href="{% url 'user_list' %}" class="dashboard-btn"><i class="fas fa-users"></i>Χρήστες</a>
    <a href="{% url 'add_suppliers' %}" class="dashboard-btn"><i class="fas fa-file-invoice-dollar"></i>suppliers</a>
  </div>
{% endblock %}